// Accordions
// *******************************************************************************

.accordion-header + .accordion-collapse .accordion-body {
  padding-top: 0;
}

.accordion {
  // accordion without icon
  &.accordion-without-arrow {
    .accordion-button::after {
      background-image: none !important;
    }
  }
  // Active accordion box shadow
  .accordion-item.active {
    box-shadow: $floating-component-shadow;
  }
}

// added box shadow
.card.accordion-item {
  box-shadow: $box-shadow-sm;
}

.accordion-button.collapsed:focus {
  box-shadow: none;
}
.accordion-button {
  box-shadow: none;
}

.accordion-header {
  line-height: 1.54;
}

.accordion-item {
  &:not(:first-of-type) {
    border-top: $accordion-border-width solid $accordion-border-color;
  }
}

// Accordion border radius
.accordion-button {
  font-weight: inherit;
  @include border-top-radius($accordion-border-radius);
  &.collapsed {
    @include border-radius($accordion-border-radius);
  }
}

// Default card styles of accordion
.accordion > .card:not(:last-of-type) {
  border-radius: $accordion-border-radius !important;
  margin-bottom: 0.6875rem;
}

/* Utilities */

.grid-margin {
    margin-bottom: $card-spacing-y;
  }
  .grid-margin-sm-0 {
    @media (min-width: 576px) {
      margin-bottom: 0;
    }
  }
  .grid-margin-md-0 {
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
  .grid-margin-lg-0 {
    @media (min-width: 992px) {
      margin-bottom: 0;
    }
  }
  .grid-margin-xl-0 {
    @media (min-width: 1200px) {
      margin-bottom: 0;
    }
  }
  .img-lg {
    width: 92px;
    height: 92px;
  }
  .img-sm {
    width: 43px;
    height: 43px;
    &.rounded-10 {
      border-radius: 10px;
    }
  }
  .img-xs {
    width: 32px;
    height: 32px;
  }
  .img-ss {
    width: 26px;
    height: 26px;
  }
  .stretch-card {
    @include display-flex;
    @include align-items(stretch);
    @include justify-content(stretch);
    >.card{
      width: 100%;
      min-width: 100%;
    }
  }

  .border-right-sm {
    @media (min-width: 576px) {
      border-right: $border-width solid $border-color;
    }
  }
  .border-right-md {
    @media (min-width: 768px) {
      border-right: $border-width solid $border-color;
    }
  }
  .border-right-lg {
    @media (min-width: 992px) {
      border-right: $border-width solid $border-color;
    }
  }

  .border-left-sm {
    @media (min-width: 576px) {
      border-left: $border-width solid $border-color;
    }
  }
  .border-left-md {
    @media (min-width: 768px) {
      border-left: $border-width solid $border-color;
    }
  }
  .border-left-lg {
    @media (min-width: 992px) {
      border-left: $border-width solid $border-color;
    }
  }

  .text-gray {
    color: #8c8c8c;
  }

  .text-black {
    color: $black;
  }

  .text-small {
    font-size: 12px;
    &.ps-4 {
      padding-left: 30px !important;
    }
  }

  .flex-grow {
    flex-grow: 1;
  }

  .hover-cursor {
    &:hover {
      cursor: pointer;
    }
  }
  .min-width-cell {
    min-width: 110px;
  }
  .font-weight-medium {
    font-weight: 500;
  }
/* Cards */

.card {
    box-shadow: $card-box-shadow;
    -webkit-box-shadow: $card-box-shadow;
    -moz-box-shadow: $card-box-shadow;
    -ms-box-shadow: $card-box-shadow;
    transition:background $action-transition-duration $action-transition-timing-function;
    -webkit-transition:background $action-transition-duration $action-transition-timing-function;
    -moz-transition:background $action-transition-duration $action-transition-timing-function;
    -ms-transition:background $action-transition-duration $action-transition-timing-function;
    border: none;
    &.card-rounded {
      border-radius: 15px;
      box-shadow: none;
      border: none;
    }
    &.table-darkBGImg {
      background: #1E283D url("../../images/dashboard/darkBG.png") repeat-y right top;
    }
    &.tale-bg {
      background: #DAE7FF;
    }
    &.transparent {
      background: transparent;
    }
    border: none;
    .card-body {
      padding: $card-padding-y $card-padding-x;
      + .card-body {
        padding-top: 1rem;
      }
    }
    .card-title {
      color: $card-title-color;
      margin-bottom: 1.2rem;
      text-transform: capitalize;
      font-size: 1.125rem;
      font-weight: 600;
      &.card-title-dash {
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 22px;
        color: $body-color;
        margin-bottom: 2px;
        &.card-subtitle-dash {
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 18px;
          color: $body-color;
          margin: 0;
        }
      }
    }
    .card-subtitle {
      @extend .text-gray;
      font-weight: 400;
      margin-top: 0.625rem;
      margin-bottom: 0.625rem;

    }
    .card-description {
      margin-bottom: .875rem;
      font-weight: 400;
      color: $card-description-color;
    }
    &.card-outline-success {
          border: 1px solid theme-color("success");
      }
      &.card-outline-primary {
          border: 1px solid theme-color("primary");
      }
      &.card-outline-warning {
          border: 1px solid theme-color("warning");
      }
      &.card-outline-danger {
          border: 1px solid theme-color("danger");
      }

    &.card-faded {
      background: #b5b0b2;
      border-color: #b5b0b2;
    }
    &.card-circle-progress {
      color: $white;
      text-align: center;
    }
    &.card-img-holder {
      position: relative;
      .card-img-absolute {
        position: absolute;
        top:0;
        right: 0;
        height: 100%;
      }
    }
    &.card-weather {
      .weather-daily {
        .weather-day {
          opacity: .5;
          font-weight: 900;
        }
        i {
          font-size: 20px;
        }
        .weather-temp {
          margin-top: .5rem;
          margin-bottom: 0;
          opacity: .5;
          font-size: .75rem;
        }
      }
    }
    &.card-tale {
      background: $card-tale;
      color: $white;
      &:hover {
        background: lighten($card-tale, 5%)
      }
    }

    &.card-dark-blue {
      background: $card-dark-blue;
      color: $white;
      &:hover {
        background: lighten($card-dark-blue, 5%)
      }
    }
    &.card-light-blue {
      background: $card-light-blue;
      color: $white;
      &:hover {
        background: lighten($card-light-blue, 5%)
      }
    }
    &.card-light-danger {
      background: $card-light-danger;
      color: $white;
      &:hover {
        background: lighten($card-light-danger, 5%)
      }
    }
  }
  @media (min-width: 576px) {
    .card-columns {
      column-count: 3;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
      .card {
        display: inline-block;
        width: 100%;
        margin-bottom: 0.75rem;
      }
    }
  }
  @each $color, $value in $theme-colors {
    .card-inverse-#{$color} {
      @include card-inverse-variant(rgba($value, .2), theme-color-level($color, 1), theme-color-level($color, 3));
    }
  }

  @each $color, $value in $theme-colors {
    .data-icon-card-#{$color} {
      background: $value;
      color: $white;
      .card-title {
        color: $white;
      }
      .background-icon {
        @extend .d-flex;
        @extend .justify-content-end;
        &::before{
          content: url('../../images/dashboard/shape-4.svg');
          position: absolute;
        }
        i {
          z-index: 1;
          @extend .icon-lg;
          color: $white;
        }
      }
    }
  }




  // Grid system
//
// Generate semantic grid columns with these mixins.

@mixin make-row($gutter: $grid-gutter-width) {
    --#{$variable-prefix}gutter-x: #{$gutter};
    --#{$variable-prefix}gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--#{$variable-prefix}gutter-y) * -1); // stylelint-disable-line function-disallowed-list
    margin-right: calc(var(--#{$variable-prefix}gutter-x) * -.5); // stylelint-disable-line function-disallowed-list
    margin-left: calc(var(--#{$variable-prefix}gutter-x) * -.5); // stylelint-disable-line function-disallowed-list
  }

  @mixin make-col-ready($gutter: $grid-gutter-width) {
    // Add box sizing if only the grid is loaded
    box-sizing: if(variable-exists(include-column-box-sizing) and $include-column-box-sizing, border-box, null);
    // Prevent columns from becoming too narrow when at smaller grid tiers by
    // always setting `width: 100%;`. This works because we set the width
    // later on to override this initial width.
    flex-shrink: 0;
    width: 100%;
    max-width: 100%; // Prevent `.col-auto`, `.col` (& responsive variants) from breaking out the grid
    padding-right: calc(var(--#{$variable-prefix}gutter-x) * .5); // stylelint-disable-line function-disallowed-list
    padding-left: calc(var(--#{$variable-prefix}gutter-x) * .5); // stylelint-disable-line function-disallowed-list
    margin-top: var(--#{$variable-prefix}gutter-y);
  }

  @mixin make-col($size: false, $columns: $grid-columns) {
    @if $size {
      flex: 0 0 auto;
      width: percentage(divide($size, $columns));

    } @else {
      flex: 1 1 0;
      max-width: 100%;
    }
  }

  @mixin make-col-auto() {
    flex: 0 0 auto;
    width: auto;
  }

  @mixin make-col-offset($size, $columns: $grid-columns) {
    $num: divide($size, $columns);
    margin-left: if($num == 0, 0, percentage($num));
  }

  // Row columns
  //
  // Specify on a parent element(e.g., .row) to force immediate children into NN
  // numberof columns. Supports wrapping to new lines, but does not do a Masonry
  // style grid.
  @mixin row-cols($count) {
    > * {
      flex: 0 0 auto;
      width: divide(100%, $count);
    }
  }

  // Framework grid generation
  //
  // Used only by Bootstrap to generate the correct number of grid classes given
  // any value of `$grid-columns`.

  @mixin make-grid-columns($columns: $grid-columns, $gutter: $grid-gutter-width, $breakpoints: $grid-breakpoints) {
    @each $breakpoint in map-keys($breakpoints) {
      $infix: breakpoint-infix($breakpoint, $breakpoints);

      @include media-breakpoint-up($breakpoint, $breakpoints) {
        // Provide basic `.col-{bp}` classes for equal-width flexbox columns
        .col#{$infix} {
          flex: 1 0 0%; // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
        }

        .row-cols#{$infix}-auto > * {
          @include make-col-auto();
        }

        @if $grid-row-columns > 0 {
          @for $i from 1 through $grid-row-columns {
            .row-cols#{$infix}-#{$i} {
              @include row-cols($i);
            }
          }
        }

        .col#{$infix}-auto {
          @include make-col-auto();
        }

        @if $columns > 0 {
          @for $i from 1 through $columns {
            .col#{$infix}-#{$i} {
              @include make-col($i, $columns);
            }
          }

          // `$columns - 1` because offsetting by the width of an entire row isn't possible
          @for $i from 0 through ($columns - 1) {
            @if not ($infix == "" and $i == 0) { // Avoid emitting useless .offset-0
              .offset#{$infix}-#{$i} {
                @include make-col-offset($i, $columns);
              }
            }
          }
        }

        // Gutters
        //
        // Make use of `.g-*`, `.gx-*` or `.gy-*` utilities to change spacing between the columns.
        @each $key, $value in $gutters {
          .g#{$infix}-#{$key},
          .gx#{$infix}-#{$key} {
            --#{$variable-prefix}gutter-x: #{$value};
          }

          .g#{$infix}-#{$key},
          .gy#{$infix}-#{$key} {
            --#{$variable-prefix}gutter-y: #{$value};
          }
        }
      }
    }
  }

  @mixin make-cssgrid($columns: $grid-columns, $breakpoints: $grid-breakpoints) {
    @each $breakpoint in map-keys($breakpoints) {
      $infix: breakpoint-infix($breakpoint, $breakpoints);

      @include media-breakpoint-up($breakpoint, $breakpoints) {
        @if $columns > 0 {
          @for $i from 1 through $columns {
            .g-col#{$infix}-#{$i} {
              grid-column: auto / span $i;
            }
          }

          // Start with `1` because `0` is and invalid value.
          // Ends with `$columns - 1` because offsetting by the width of an entire row isn't possible.
          @for $i from 1 through ($columns - 1) {
            .g-start#{$infix}-#{$i} {
              grid-column-start: $i;
            }
          }
        }
      }
    }
  }
